
  .bg-img {
     /* The image used */
     background-image: url("./pic/bg.jpg");
     width: 100%;
     height: 190px;
     background-size: 100% 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
   
     /* Needed to position the navbar */
     position: relative;
   }
   
   /* Position the navbar container inside the image */
   .container {
     position: absolute;
     margin: 5px;
     width: 100%;
   }


   
   /* The navbar */
   .topnav {
     padding-left: 40%;
        width: 100%;
     overflow: hidden;
     background-color:white;
   }
   
   /* Navbar links */
   .topnav a {
     float: left;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     display: block;
   }
   
   .topnav a:hover {
     background-color: #ddd;
     color: black;
   }
   .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  .topnav .icon {
    display: none;
  }
   .bg_color{
     background-color: #ddf1e5;
     height: 400px;
    padding: 0%;
    margin: 0%;
   }
   
   
   .top-container
   {
    background-color: #DDF1E5;
    height: 23cm;
   }
   .parent{
    background-color: white;
    width: 400px; 
    margin:30px 0px 0px 0px ;
    display: flex;
    padding:auto;
    position: relative;
    top:70px;
    }

   .image img{
     width: 40%;
     height: 75%;
     margin-left: -70%;
    padding-left: 100px;
     margin-top: 50px;
     padding-bottom: 10px;
   }
   .image{
padding-left: -100px;
  
  }
  .text{
    margin-top:30px ;
    text-align: start;
    margin-left: 100px;

  
  }
  .text img{
    width:150px;
    height:80px;
    margin-left: -230px;
  }
  .text p{
    margin-left: -220px;
    padding: -10px 0px 0px 0px;
    
  }
  header{
    width: 400px;
    height: 80px;
  background-color:#07CB79;
  position: relative;
    top:70px;
  }
  .project{
    position: relative;
    top: 50px;
    background-color: white;
     width: 400px;
     padding:auto;
    margin: 30px ;
    
        
  }
  h2
  {
    margin-left: 40px;
    position: relative;
    top: 60px;
  }
  .skills img{
    width: 40%;
     height: 75%;
     margin-left: -70%;
    padding-left: 100px;
     margin-top: 60px;
     padding-bottom: 10px;
    
  }
  input[type=submit] {
    background-color: #07CB79;
    color: white;
    /*padding: 12px 20px;*/
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  input[type=text], select, textarea {
    width: 80%; /* Full width */
    padding: 6px; /* Some padding */ 
    border: 1px solid #01EC64; /* green border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 60px; /* Add a top margin */
    margin-bottom: 1px; /* Bottom margin */
   resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  @media screen and (max-width: 320px) {
    
 .topnav {
      padding-left: 20%;
       }

       .image img{
        width: 50%;
        height: 85%;
       padding-left: 60px;
        margin-top: 20px;
        
      }
      .text img{
        width:120px;
        height:60px;
        margin-left: -240px;
        }
        .text p{
          margin-left: -240px;
          /* padding: -10px 0px 0px 0px; */
          font-size: 10px;
          
        }
  }
  @media screen and (max-width: 420px) {
    
    .topnav {
         padding-left: 20%;
          }
   
          .image img{
           width: 50%;
           height: 85%;
          padding-left: 60px;
           margin-top: 20px;
           
         }
         .text img{
           width:120px;
           height:60px;
           margin-left: -240px;
           }
           .text p{
             margin-left: -240px;
             /* padding: -10px 0px 0px 0px; */
             font-size: 10px;
             
           }
     }
